<div class="row" ng-show="es.status._id==3 && es.checkRole()">
    <div class="col-md-12" style="margin-bottom:10px">
        <button class='btn btn-primary' ng-click="es.deny()"> Từ chối chương trình </button>
    </div>
    <div class="col-md-12" style="margin-bottom:10px" ng-show="!inf.info.view.disabled">
        <button class='btn btn-primary' ng-click="es.denyInfo()"> Từ chối thông tin </button>
    </div>
</div>
<div class="row" ng-show="(es.status._id >3 || (es.checkRole() &&es.status._id == 3)) && es.checkNotSales()">
    <div class="col-md-12">
        <div class="box box-primary" ng-class="{'collapsed-box': es.isCollapsed()}">
        <div class="box-header with-border">
            <h3 class="box-title">
                <strong>Dự toán</strong>
                <small ng-show='es.estimation.operator'> thực hiện bởi: {{es.estimation.operator.name}}</small>
            </h3>
            <div class="box-tools pull-right">
                <a class="btn btn-box-tool" ng-href="#History/estimation/{{es.ticket}}"
                target="_blank">
                    <i class="fa fa-history" aria-hidden="true"></i> History
                </a>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa" ng-class="es.isCollapsed()? 'fa-plus':'fa-minus'"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        
        <div class="box-body">
            <form role="form" name="myForm">
            <div class="form-group">
                <label for="file">
                    Dự toán
                </label>
                <div class="write-mode" ng-hide="es.estimation.view.disabled">
                    <input id="file" type="file" name="filetoupload" ngf-select
                        ng-model="es.myFileModel" ngf-max-size="3MB" required
                        ngf-model-invalid="errorFile" multiple="false"/>
                    <i ng-show="myForm.filetoupload.$error.maxSize">
                        File too large! Maximum 5MB</i>
                    <div class="progress active" ng-show="es.myFileModel.progress >= 0">
                        <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="{{es.myFileModel.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{es.myFileModel.progress}}%">
                            <span class="sr-only">{{es.myFileModel.progress}}% Complete</span>
                        </div>
                    </div>
                </div>
                <div class="read-mode" ng-show="es.estimation.view.disabled">
                    <a class="btn btn-default" target="_blank" ng-href="/api/file/download/{{es.estimation.estimationFile._id}}" ng-show="es.estimation.estimationFile" title="Download file"><i class="fa fa-download" aria-hidden="true"></i> Download </a>
                </div>
            </div> 
            <div class="form-group">
              <label for="note">Ghi chú</label>
              <textarea id="note" class="form-control" ng-model="es.estimation.note" rows="3" placeholder="Enter ..." ng-readonly="es.estimation.view.disabled"></textarea>
            </div>
            </form>
        </div>
        <!-- /.box-body -->

        <div class="box-footer" ng-hide="es.estimation.view.disabled">
            <button class="btn btn-primary pull-right" ng-click="es.submit()">Submit</button>
            <button class="btn btn-default" ng-click="es.reset()">Reset</button>
        </div>

        </div>
    </div>
</div>