<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-strict-di>
<!-- Content Header (Page header) -->

<pre ng-show="myProfile">
    Name: {{myProfile.name}}
    Email: {{myProfile.email}}
    Created date: {{myProfile.createdDate}}
    Modified date: {{myProfile.modifiedDate}}
    Roles: {{myProfile.roles}}
</pre>
<section class="content-header">
    <h1>Demo</h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Upload</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" name="myForm">
                <div class="box-body">

                <div class="form-group">
                    <label for="file">
                        Input file 
                        <i ng-show="myForm.filetoupload.$error.required">*required
                        </i>
                    </label>
                    <input id="file" type="file" name="filetoupload" ngf-select
                        ng-model="myFileModel" ngf-max-size="3MB" required
                        ngf-model-invalid="errorFile" multiple="false"/>
                    <i ng-show="myForm.filetoupload.$error.maxSize">
                        File too large! Maximum 3MB</i>
                </div>
                <div class="form-group" ng-show="loadingUpload">
                    <span class="help-block"><i class="fa fa-spinner fa-pulse"></i> Loading </span>
                </div>
                <div class="progress active" ng-show="myFileModel.progress >= 0">
                    <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="{{myFileModel.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{myFileModel.progress}}%">
                      <span class="sr-only">{{myFileModel.progress}}% Complete</span>
                    </div>
                </div>
                </div>
                <pre>{{myFileModel}}</pre>
                <pre>{{myFileModel.result}}</pre>
                <!-- /.box-body -->

                <div class="box-footer">
                <!--<button class="btn btn-primary pull-right" ng-click="submitUpload()">Import</button>-->
                <button class="btn btn-primary pull-right" ng-disabled="!myForm.$valid || loadingUpload" ng-click="submitUpload(myFileModel)">Upload</button>
                <button class="btn btn-default" ng-click="myFileModel = null">Reset</button>
                </div>
            </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Download</h3>
                </div>
            <!-- /.box-header -->
            <!-- Download static file -->
                <div class="box-body">
                    <a class="btn btn-default" href="/api/file/download/demo" title="Download template file"><i class="fa fa-download" aria-hidden="true"></i> Template</a>

                    <h4>Download from list</h4>
                    <div class="form-group">
                    <label for="fileDL">Select file</label>
                    <select id="fileDL" name="fileDL" class="form-control" ng-model="selFile"
                            ng-options="p.name for p in lstFiles">
                    </select>
                    </div>
                    <div>
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <th scope="row">Id</th>
                                <td>{{selFile._id}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Name</th>
                                <td>{{selFile.name}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Type</th>
                                <td>{{selFile.type}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Created date</th>
                                <td>{{selFile.createdDate | date:'medium'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-default" target="_blank" ng-href="/api/file/download/{{selFile._id}}" ng-show="selFile" title="Download file"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Table</h3>
                <div class="box-tools">
                </div>
            </div>
            <div class="box-body table-responsive">
                <div class="input-group col-md-2">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" ng-model="search2" class="form-control pull-right" placeholder="Search">
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th ng-click="sort('ID')" style="cursor:pointer">
                                Id
                                <span class="fa sort-icon" ng-show="sortKey=='ID'" ng-class="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('Status')" style="cursor:pointer">
                            Status
                            <span class="fa sort-icon" ng-show="sortKey=='Status'" ng-class="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
                          </th>
                          <th>Destination</th>
                          <th>Duration</th>
                          <th ng-click="sort('CreationDate')" style="cursor:pointer">
                            Date
                          <span class="fa sort-icon" ng-show="sortKey=='CreationDate'" ng-class="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
                          </th>
                          <th>Customer</th>
                          <th>Description</th>
                          <th>Actions</th>
                        </tr>
                        <tr ng-repeat="d in demoData | orderBy:sortKey:reverse | filter:search2"> 
                            <td>
                                <a class="label bg-gray" ng-if="d.ID!=0" target="_blank"
                                    ng-href="#">
                                    {{d.ID}}
                                </a>
                            </td>
                            <td><span class="badge" ng-class="colorStatus(d.Status)">{{d.Status}}</span></td>
                            <td>{{d.Destination}}</td>
                            <td>
                                <a class="label bg-green" ng-if="d.Duration!=null" target="_blank"
                                    ng-href="#">
                                    {{d.Duration}} days
                                </a>
                            </td>
                            <td>{{d.CreationDate | date:'short'}}</td>
                            <td>{{d.Customer}}</td>
                            <td>{{d.Description}}</td>
                            <td> 
                                <div class="tools">
                                    <button class="btn btn-default" ng-click="tableEdit(ID)" data-toggle="tooltip" data-container="body" title="" data-original-title="Edit">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button class="btn btn-default" ng-click="tableRemove(ID)" data-toggle="tooltip" data-container="body" title="" data-original-title="Delete">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <pre>{{demoData}}</pre>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Table pagination</h3>
                <div class="box-tools">
                </div>
            </div>
            <div class="box-body">
                <div class="input-group col-md-2">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" ng-model="search" class="form-control pull-right" placeholder="Search">
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th ng-click="sort('ID')" style="cursor:pointer">
                                Id
                                <span class="fa sort-icon" ng-show="sortKey=='ID'" ng-class="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('Status')" style="cursor:pointer">
                            Status
                            <span class="fa sort-icon" ng-show="sortKey=='Status'" ng-class="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
                          </th>
                          <th width=>Destination</th>
                          <th>Duration</th>
                          <th ng-click="sort('CreationDate')" style="cursor:pointer">
                            Date
                          <span class="fa sort-icon" ng-show="sortKey=='CreationDate'" ng-class="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
                          </th>
                          <th>Customer</th>
                          <th>Description</th>
                          <th>Actions</th>
                        </tr>
                        <tr dir-paginate="d in demoData | orderBy:sortKey:reverse | filter:search | itemsPerPage: 5"> 
                            <td>
                                <a class="label bg-gray" ng-if="d.ID!=0" target="_blank"
                                    ng-href="#">
                                    {{d.ID}}
                                </a>
                            </td>
                            <td><span class="badge" ng-class="colorStatus(d.Status)">{{d.Status}}</span></td>
                            <td>{{d.Destination}}</td>
                            <td>
                                <a class="label bg-green" ng-if="d.Duration!=null" target="_blank"
                                    ng-href="#">
                                    {{d.Duration}} days
                                </a>
                            </td>
                            <td>{{d.CreationDate | date:'short'}}</td>
                            <td>{{d.Customer}}</td>
                            <td>{{d.Description}}</td>
                            <td> 
                                <div class="tools">
                                    <button class="btn btn-default" ng-click="tableEdit(ID)" data-toggle="tooltip" data-container="body" title="" data-original-title="Edit">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button class="btn btn-default" ng-click="tableRemove(ID)" data-toggle="tooltip" data-container="body" title="" data-original-title="Delete">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <dir-pagination-controls boundary-links="true" direction-links="true" max-size="4" template-url="/Scripts/Directives/dirPagination.tpl.html"></dir-pagination-controls>
                <pre>{{demoData}}</pre>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Notifications</h3>
            </div>
            <div class="box-body">
                <button class='btn btn-default btn-lg ' ng-click="notification.info()">Info</button>
                <button class='btn btn-primary btn-lg ' ng-click="notification.success()">Success</button>
                <button class='btn btn-warning btn-lg' ng-click="notification.warning()">Warn</button>
                <button class='btn btn-danger btn-lg ' ng-click="notification.error()">Error</button>
                <button class='btn btn-default btn-lg ' ng-click="notification.ajax()">Ajax</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Form</h3>
            </div>
            <div class="box-body" >
                <form role="form" name="myForm1">
                <div class="form-group">
                    <label for="reserveRestaurantFile">
                        Booking nhà hàng
                    </label>
                    <input id="reserveRestaurantFile" type="file" name="filetoupload" ngf-select
                        ng-model="reserveRestaurantFileModel" ngf-max-size="5MB" required
                        ngf-model-invalid="errorreserveRestaurantFile" multiple="false"/>
                    <i ng-show="myForm1.filetoupload.$error.maxSize">
                        File too large! Maximum 5MB</i>
                    <div class="progress active" ng-show="reserveRestaurantFileModel.progress >= 0">
                        <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="{{reserveRestaurantFileModel.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{reserveRestaurantFileModel.progress}}%">
                            <span class="sr-only">{{reserveRestaurantFileModel.progress}}% Complete</span>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-repeat="f in fieldList">
                    <label for="{{f.name}}">
                        {{f.displayName}}
                    </label>
                    <input id="{{f.name}}" type="file" name="{{f.name}}" ngf-select
                        ng-model="f.model" ngf-max-size="5MB" required
                        ngf-model-invalid="f.error" multiple="false"/>
                    <i ng-show="myForm1.{{f.name}}.$error.maxSize">
                        File too large! Maximum 5MB</i>
                    <div class="progress active" ng-show="f.model.progress >= 0">
                        <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="{{f.model.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{f.model.progress}}%">
                            <span class="sr-only">{{f.model.progress}}% Complete</span>
                        </div>
                    </div>
                </div>
                <pre> {{fieldList}}</pre>
                <div class="form-group">
                  <label for="note">Ghi chú</label>
                  <textarea id="note" class="form-control" ng-model="request.note" rows="3" placeholder="Enter ..."></textarea>
                </div>
                </form>
                <button ng-click="show()">Click</button>
            </div>
        </div>
    </div>
    <!--- End Test--->
    <div >
                
    </div>
</section><!-- /.content -->

<!-- End dialog modal template -->
</div><!-- /.content-wrapper -->