<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-strict-di>
<!-- Content Header (Page header) -->
<!--
<section class="content-header">
</section>
-->
<!-- Main content -->
<section class="content">
	<div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Leave form</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
                <div class="box-body">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username" type="text" class="form-control" ng-model="leave.Name" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="imscode">ALS30 Leave Code</label>
                    <input id="imscode" type="text" class="form-control" ng-model="leave.leave_ims" placeholder="CSS-0000">
                </div>
                <div class="form-group">
                    <label for="startdate">Start Date</label>
                    <!--<input class="form-control" date-time format="DD-MM-YYYY" minView='year' view='year' ng-model="claimDate">-->
                    <input id="startdate" type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="leave.start_date" is-open="date.open1" close-text="Close" alt-input-formats="altInputFormats" ng-click="date.open1=!date.open1;" placeholder="01-01-1990"/>
                    <!-- /.input group -->
                </div>
                <div class="form-group">
                    <label for="enddate">End Date</label>
                    <!--<input class="form-control" date-time format="DD-MM-YYYY" minView='year' view='year' ng-model="claimDate">-->
                    <input id="enddate" type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="leave.end_date" is-open="date.open2" close-text="Close" alt-input-formats="altInputFormats" ng-click="date.open2=!date.open2;" placeholder="01-01-1990"/>
                    <!-- /.input group -->
                </div>
                <div class="form-group">
                    <label for="day">No. of Day</label>
                    <input id="day" type="number" class="form-control" ng-model="leave.day" placeholder="0">
                </div>
                <div class="form-group">
                    <label for="notes">Notes (*If you choose CSS-0116, please put your leave transaction number here)</label>
                    <textarea id="notes" class="form-control" ng-model="leave.notes" rows="3" placeholder="Enter ..."></textarea>
                </div>
                <div class="form-group has-success" ng-show="!error && status">
                    <span class="help-block"><i class="fa fa-check"></i> {{status}}</span>
                </div>

                <div class="form-group has-error" ng-show="error && status">
                    <span class="help-block"><i class="fa fa-bell-o"></i> {{status}}</span>
                </div>
                </div>

                <!-- /.box-body -->

                <div class="box-footer">
                <button class="btn btn-primary pull-right" ng-click="submit()" ng-show="!loading">Submit</button>
                <button class="btn btn-primary pull-right" ng-show="loading"><i class="fa fa-spinner fa-pulse"></i></button>
                <button class="btn btn-default" ng-click="reset()">Reset</button>
                </div>
                <pre ng-show="isDebug"> {{leave | json}} </pre>
            </form>
            </div>
        </div>
    </div>

    <!--- End Test--->
    <div >
                
    </div>
</section><!-- /.content -->

<!-- End dialog modal template -->
</div><!-- /.content-wrapper -->
