<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Untitled Page</title>
</head>
<body>
<ul>
    <li><a href="javascript: {var xwin=window.open('index.html','LBNDashboard','width=640,height=480')}">640 x 480</a></li>
    <li><a href="javascript: {var xwin=window.open('index.html','LBNDashboard','width=800,height=600')}">800 x 600</a></li>
    <li><a href="javascript: {var xwin=window.open('index.html','LBNDashboard','width=1024,height=768')}">1024 x 768</a></li>
    <li><a href="javascript: {var xwin=window.open('index.html','LBNDashboard','width=1280,height=800')}">1280 x 800</a></li>
    <li><a href="javascript: {var xwin=window.open('index.html','LBNDashboard','width=1366,height=768')}">1366 x 768</a></li>
    <li><a href="javascript: {var xwin=window.open('index.html','LBNDashboard','width=1400,height=900')}">1400 x 900</a></li>
    <li><a href="javascript: {var xwin=window.open('index.html','LBNDashboard','width=1680,height=1050')}">1680 x 1050</a></li>
</ul>

</body>
</html>
