<div id="detailMCO" class="modal fade" role="dialog" ng-controller="modalDetailController" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{info.team}} | <small>{{info.indicateur}}</small></h4>
            </div>
            <div class="modal-body text-left">
                <div class="col-md-4" style="float:right">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="text" ng-model="search" class="form-control" placeholder="Search">
                    </div>
                </div>
                <table class="table table-hover">
                    <tr>
                      <th ng-click="sort('TicketID')" style="cursor:pointer">
                        Ticket Id
                        <span class="fa sort-icon" ng-show="sortKey=='TicketID'" ng-class="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
                      </th>
                      <th ng-click="sort('Severity')" style="cursor:pointer">
                        Severity
                        <span class="fa sort-icon" ng-show="sortKey=='Severity'" ng-class="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
                      </th>
                      <th width="40%">Title</th>
                      <th>Equipment</th>
                      <th ng-click="sort('CreationDate')" style="cursor:pointer">
                        Date
                      <span class="fa sort-icon" ng-show="sortKey=='CreationDate'" ng-class="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
                      </th>
                      <th>Customer</th>
                    </tr>
                    <tr dir-paginate="d in info.data | orderBy:sortKey:reverse | filter:search | itemsPerPage: 5" current-page="page"> 
                        <td>
                            <a class="label bg-gray" ng-if="d.TicketID!=0" target="_blank"
                                ng-href="http://intranet.linkbynet.com/v7/Ticketing/View?Id={{d.TicketID}}">
                                {{d.TicketID}}
                            </a>
                        </td>
                        <td><span class="badge" ng-class="colorSeverity(d.Severity)">{{d.Severity}}</span></td>
                        <td>{{d.Name}}</td>
                        <td>
                            <a class="label bg-green" ng-if="d.Equipment.Id!=null" target="_blank"
                                ng-href="http://intranet.linkbynet.com/v7/Equipment/View?Id={{d.Equipment.Id}}">
                                {{d.Equipment.Name}}
                            </a>
                        </td>
                        <td>{{d.CreationDate | date:'short'}}</td>
                        <td>{{d.Company}}</td>
                    </tr>
                </table>
                <dir-pagination-controls boundary-links="true" direction-links="true" max-size="4"></dir-pagination-controls>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="reset()">Close</button>
            </div>
        </div>
    </div>
</div>